.notFoundContent {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
  font-family: Arial, Helvetica, sans-serif;
  background-color: #2b2b2b;
}

.notFoundContainer {
  color: rgb(0, 255, 0);
  line-height: 1.5rem;
}

.notFoundContainer h1 {
  font-size: 60px;
}

.notFoundContainer h2 {
  font-size: 30px;
}

.notFoundContainer i {
  font-size: 50px;
}
