/* Porque a Workers.net? */

.homeContent {
  width: 100vw;
  height: 100vh;
  background-color: #2b2b2b;
}

.home-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  background-color: black;
}

.home-header a {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: white;
  text-decoration: none;
  transition: all .3s;
}

.home-header a:hover {
  text-decoration: underline;
  color: rgb(56, 236, 56);
}

.home-search-box-container {
  display: flex;
}

.home-search-box {
  width: 300px;
  height: 40px;
  font-size: 20px;
  padding: 5px;
}

.home-search-box-container button {
  height: 54px;
  width: 40px;
  font-size: 20px;
  cursor: pointer;
  transition: all .3s;
}

.home-search-box-container button:hover {
  color: rgb(0, 172, 0);
  font-size: 26px;
}

.home-main .left h1 {
  color: rgb(0, 255, 0);
  font-family: Arial, Helvetica, sans-serif;
}
