/* Porque a Workers.net? */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* macbook air default size */
@media (max-width: 1440px) {
  .homeContent {
    width: 100vw;
    height: 200vh;
    background-color: #2b2b2b;
  }
  
  .home-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color: black;
  }
  
  .home-header a {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: white;
    text-decoration: none;
    transition: all .3s;
  }
  
  .home-header a:hover {
    text-decoration: underline;
    color: rgb(56, 236, 56);
  }
  
  .home-search-box-container {
    display: flex;
  }
  
  .home-search-box {
    width: 300px;
    height: 40px;
    font-size: 20px;
    padding: 5px;
  }
  
  .home-search-box-container button {
    height: 54px;
    width: 40px;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s;
  }
  
  .home-search-box-container button:hover {
    color: rgb(0, 172, 0);
    font-size: 26px;
  }
  
  .home-main {
    display: flex;
  }
  
  .home-main .left .whyUs {
    padding-left: 150px;
    padding-top: 30px;
    margin: 0;
  }
  
  .home-main .left .whyUs h1 {
    line-height: 0;
    color: rgb(0, 255, 0);
    font-family: "Playfair Display", serif;
    font-size: 46px;
  }
  
  .home-main .left .whyUs span {
    text-decoration: underline;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-size: 50px;
  }
  
  .home-main .left .whyUs p {
    font-size: 18px;
    color: white;
    font-family: Helvetica, sans-serif;
    text-align: center;
    line-height: 30px;
  }
  
  .home-main .left .howStart {
    padding-left: 250px;
    padding-top: 50px;
  }
  
  .home-main .left .howStart #getStartedTitle {
    font-size: 40px;
    color: rgb(0, 255, 0);
    font-family: "Playfair Display", serif;
  }
  
  .home-main .left .howStart .loginRegisterForm {
    background-color: #1b1b1b;
    color: #b2b2b2;
    padding: 30px;
    width: 200px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .home-main .left .howStart .loginRegisterForm h1 {
    font-size: 28px;
    font-family: "Playfair Display", serif;
    color: rgb(0, 255, 0);
  }
  
  .home-main .left .howStart .loginRegisterForm label {
    font-size: 24px;
    font-family: Helvetica, sans-serif;
  }
  
  .home-main .left .howStart .loginRegisterForm input {
    font-size: 16px;
  }
  
  .home-main .left .howStart span {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: white;
  }
  
  .home-main .left .howStart #switchForm {
    cursor: pointer;
    color: rgb(0, 255, 0);
    transition: all .3s;
  }
  
  .home-main .left .howStart #switchForm:hover {
    color: #7fffd4;
  }
  
  .home-main .right {
    padding-left: 150px;
    display: flex;
    flex-direction: column;
  }
  
  .home-main .right #title {
    color: rgb(0, 255, 0);
    font-size: 46px;
    font-family: "Playfair Display", serif;
    line-height: 50px;
  }
  
  .home-main .right .pic-name-function {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .home-main .right .pic-name-function a {
    font-size: 14px;
    color: #7fffd4;
    font-family: Helvetica, sans-serif;
    transition: all .2s;
    font-weight: lighter;
  }
  
  .home-main .right .pic-name-function a:hover {
    color: #f2f2f2;
  }
  
  .home-main .right .pic-name-function img {
    width: 150px;
  }
  
  .home-main .right .pic-name-function h2 {
    color: #7fffd4;
    font-family: "Playfair Display", serif;
    font-family: 10px;
  }
  
}
